#background {
  background: white;
  min-width: 100vw;
  min-height: 270vh;
}

#target {
  position: fixed;
  top: 50%;
  width: 100vw;
  z-index: 2;
}

#top-padding {
  position: relative;
  top: 0;
  height: 20vh;
}

#bottom-padding {
  position: relative;
  bottom: 0;
  height: 20vh;
}

#sticky {
  position: sticky;
  position: fixed;
  top: 20%;
  height: 50vh;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  background: #3D4849;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

 h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 10em;
  color: white;
}

p {
  font-family: inherit;
  vertical-align: text-top;
  text-align: center;
  font-size: 5em;
}

.box {
  height: 30vh;
  width: 40vw;
  left: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  transition: left .5s ease-in;
  z-index: 1;
  position: absolute;
}

#one {
  top: 100vh;
  background: gray;
  height: 100vh;
}

#two {
  top: 205vh;
  background: gray;
  height: 100vh;
}

#three {
  top: 310vh;
  background: gray;
  height: 100vh;
}

#four {
  top: 415vh;
  background: gray;
  height: 100vh;
}
